<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/hrtablescroll.css">
    <title>Employees in Department</title>
</head>
<body>
  <table class="table">
    <thead>
      <tr>
        <th>Department Name</th>
        <th>Number of Employees</th>
      </tr>
    </thead>
    <tbody>
      <% empInDep.forEach(row => { %>
        <tr>
            <td><%= row["Department"] %></td>
            <td><%= row["Number of Employees"] %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>