<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar">
    <div class="container">
        <a class="navbar-brand">The Indexers HRMS</a>
        <div class="links-contianer">
            <ul class="links">
                <% if (typeof navItems !== 'undefined' && navItems && navItems.length > 0) { %>
                    <% navItems.forEach((page, index) => { %>
                        <% if (page.index !== undefined) return; %>
                        <li>
                            <a class="nav-link <%= index === (navItems.find(item => item.index !== undefined)?.index || 0) ? 'active' : '' %>" href="<%= page.link %>">
                                <%= page.name %>
                            </a>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <% if (typeof user !== 'undefined' && user) { %>
                    <li>
                        <span class="nav-link">
                            <i class="fas fa-user-circle"></i> Welcome, <%= user.name %>
                        </span>
                    </li>
                    <li>
                        <a class="nav-link" href="/auth/logout">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                <% } else { %>
                    <li>
                        <a class="nav-link" href="/">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>