:root {
    /* Colors */
    --color-primary: #14213d;
    --color-primary-hover: #001d3c;
    --color-secondary: #fca311;
    --color-secondary-hover: #4b0082;



    /*gradients*/
    --color-start: #14213d;
    --color-end: #001d3c;
    /* Text Colors */
    --color-text: #212529;
    --color-text-muted: #6c757d;
    --color-background1: #eeeeee;
    --color-background2: #ffffff;

    /* Typography */
    --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-size-base: 1rem;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --line-height-base: 1.5;

    /* Spacing */
    --spacing-xs: 0.25rem; /* 4px */
    --spacing-sm: 0.5rem;  /* 8px */
    --spacing-md: 1rem;    /* 16px */
    --spacing-lg: 1.5rem;  /* 24px */
    --spacing-xl: 2rem;    /* 32px */
    --spacing-xxl: 3rem;   /* 48px */

    /* Borders */
    --border-width: 1px;
    --border-color: #dee2e6;
    --border-radius-sm: 0.2rem;
    --border-radius: 0.25rem;
    --border-radius-lg: 0.3rem;

    /* Shadows */
    --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);

    /* Transitions */
    --transition-base: all 0.2s ease-in-out;
}